USE [master]
GO
/****** Object:  Database [Domitory]    Script Date: 09/05/2025 21:56:40 ******/
CREATE DATABASE [Domitory] ON  PRIMARY 
( NAME = N'Domitory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Domitory.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Domitory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Domitory_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Domitory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Domitory]
GO
/****** Object:  Table [dbo].[t_学生申请记录表]    Script Date: 09/05/2025 21:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_学生申请记录表](
	[SID] [varchar](12) NOT NULL,
	[申请编号] [int] IDENTITY(1,1) NOT NULL,
	[申请事由类别] [varchar](12) NOT NULL,
	[phoneNumber] [varchar](12) NOT NULL,
	[申请事由] [varchar](50) NOT NULL,
	[申请日期] [datetime] NULL,
	[申请结果] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Table_2] PRIMARY KEY CLUSTERED 
(
	[申请编号] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[t_学生申请记录表] ON
INSERT [dbo].[t_学生申请记录表] ([SID], [申请编号], [申请事由类别], [phoneNumber], [申请事由], [申请日期], [申请结果]) VALUES (N'1001', 1, N'A', N'18511111111', N'亲友到访', CAST(0x0000ACAC00000000 AS DateTime), N'同意        ')
INSERT [dbo].[t_学生申请记录表] ([SID], [申请编号], [申请事由类别], [phoneNumber], [申请事由], [申请日期], [申请结果]) VALUES (N'1001', 2, N'A', N'18511111111', N'亲友到访', CAST(0x0000ACAF00000000 AS DateTime), N'同意        ')
INSERT [dbo].[t_学生申请记录表] ([SID], [申请编号], [申请事由类别], [phoneNumber], [申请事由], [申请日期], [申请结果]) VALUES (N'1001', 3, N'B', N'18511111111', N'早出晚归', CAST(0x0000AF8700000000 AS DateTime), N'同意        ')
SET IDENTITY_INSERT [dbo].[t_学生申请记录表] OFF
/****** Object:  Table [dbo].[t_学生入住信息表]    Script Date: 09/05/2025 21:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_学生入住信息表](
	[SID] [varchar](12) NOT NULL,
	[BuildingNumber] [int] NULL,
	[floor] [int] NULL,
	[RoomNumber] [int] NULL,
	[bedNumber] [int] NULL,
	[phoneNumber] [varchar](12) NULL,
	[入住时间] [datetime] NULL,
 CONSTRAINT [PK_t_学⽣⼊住信息表] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[t_学生入住信息表] ([SID], [BuildingNumber], [floor], [RoomNumber], [bedNumber], [phoneNumber], [入住时间]) VALUES (N'1001', 1, 1, 1, 1, N'10000000001', CAST(0x0000B16500000000 AS DateTime))
INSERT [dbo].[t_学生入住信息表] ([SID], [BuildingNumber], [floor], [RoomNumber], [bedNumber], [phoneNumber], [入住时间]) VALUES (N'1002', 3, 2, 2, 1, N'10000000009', CAST(0x0000B16500ACF3C8 AS DateTime))
INSERT [dbo].[t_学生入住信息表] ([SID], [BuildingNumber], [floor], [RoomNumber], [bedNumber], [phoneNumber], [入住时间]) VALUES (N'1003', 1, 2, 1, 2, N'19999999999', CAST(0x0000B10900000000 AS DateTime))
/****** Object:  Table [dbo].[t_学生出入登记表]    Script Date: 09/05/2025 21:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_学生出入登记表](
	[SID] [varchar](12) NOT NULL,
	[出门时间] [datetime] NOT NULL,
	[回寝时间] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[t_学生出入登记表] ([SID], [出门时间], [回寝时间]) VALUES (N'1001', CAST(0x0000AE1000C5C100 AS DateTime), CAST(0x0000AE1000D63BC0 AS DateTime))
INSERT [dbo].[t_学生出入登记表] ([SID], [出门时间], [回寝时间]) VALUES (N'1001', CAST(0x0000AF7D005265C0 AS DateTime), CAST(0x0000AF7E00735B40 AS DateTime))
INSERT [dbo].[t_学生出入登记表] ([SID], [出门时间], [回寝时间]) VALUES (N'1002', CAST(0x0000B0EA0062E080 AS DateTime), CAST(0x0000B0EE00735B40 AS DateTime))
/****** Object:  Table [dbo].[t_宿舍报修记录表]    Script Date: 09/05/2025 21:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_宿舍报修记录表](
	[申请编号] [int] IDENTITY(1,1) NOT NULL,
	[SID] [varchar](12) NULL,
	[申请报修日期] [datetime] NULL,
	[报修事由] [varchar](50) NULL,
	[申请结果应答] [varchar](50) NULL,
 CONSTRAINT [PK_t_宿舍报修记录表_2] PRIMARY KEY CLUSTERED 
(
	[申请编号] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[t_宿舍报修记录表] ON
INSERT [dbo].[t_宿舍报修记录表] ([申请编号], [SID], [申请报修日期], [报修事由], [申请结果应答]) VALUES (1, N'1001', CAST(0x0000ACA300000000 AS DateTime), N'test', N'待处理')
INSERT [dbo].[t_宿舍报修记录表] ([申请编号], [SID], [申请报修日期], [报修事由], [申请结果应答]) VALUES (2, N'1001', CAST(0x0000B15C00BB1C0F AS DateTime), N'test', N'已修')
INSERT [dbo].[t_宿舍报修记录表] ([申请编号], [SID], [申请报修日期], [报修事由], [申请结果应答]) VALUES (3, N'1001', CAST(0x0000B16500A8AD4B AS DateTime), N'ceshi', N'待处理')
SET IDENTITY_INSERT [dbo].[t_宿舍报修记录表] OFF
/****** Object:  Table [dbo].[t_管理员信息表]    Script Date: 09/05/2025 21:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_管理员信息表](
	[工号] [varchar](12) NOT NULL,
	[姓名] [varchar](12) NOT NULL,
	[sex] [varchar](12) NOT NULL,
	[用户权限等级] [int] NOT NULL,
	[管理宿舍楼号] [int] NULL,
	[phoneNumber] [varchar](12) NOT NULL,
 CONSTRAINT [PK_t_管理员信息表1] PRIMARY KEY CLUSTERED 
(
	[工号] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[t_管理员信息表] ([工号], [姓名], [sex], [用户权限等级], [管理宿舍楼号], [phoneNumber]) VALUES (N'admin1', N'张三', N'男', 1, 1, N'11111111111')
INSERT [dbo].[t_管理员信息表] ([工号], [姓名], [sex], [用户权限等级], [管理宿舍楼号], [phoneNumber]) VALUES (N'admin2', N'李小龙', N'男', 2, 1, N'16666666666')
INSERT [dbo].[t_管理员信息表] ([工号], [姓名], [sex], [用户权限等级], [管理宿舍楼号], [phoneNumber]) VALUES (N'admin3', N'王五', N'男', 2, 3, N'10909090909')
/****** Object:  Table [dbo].[t_user_psw]    Script Date: 09/05/2025 21:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_user_psw](
	[账号] [varchar](12) NOT NULL,
	[密码] [varchar](12) NOT NULL,
	[用户权限等级] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[t_user_psw] ([账号], [密码], [用户权限等级]) VALUES (N'1001', N'1', 3)
INSERT [dbo].[t_user_psw] ([账号], [密码], [用户权限等级]) VALUES (N'admin1', N'1', 1)
INSERT [dbo].[t_user_psw] ([账号], [密码], [用户权限等级]) VALUES (N'admin2', N'1', 2)
/****** Object:  Table [dbo].[t_Student]    Script Date: 09/05/2025 21:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Student](
	[SID] [varchar](12) NOT NULL,
	[SName] [varchar](12) NOT NULL,
	[Sex] [varchar](2) NOT NULL,
	[Dept] [varchar](20) NOT NULL,
	[major] [varchar](20) NOT NULL,
	[class] [varchar](12) NOT NULL,
	[phoneNumber] [varchar](12) NOT NULL,
	[状态] [varchar](20) NOT NULL,
 CONSTRAINT [PK_t_Student] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[t_Student] ([SID], [SName], [Sex], [Dept], [major], [class], [phoneNumber], [状态]) VALUES (N'1001', N'王小明', N'男', N'计算机学院', N'大数据', N'322', N'18515900000', N'在读')
INSERT [dbo].[t_Student] ([SID], [SName], [Sex], [Dept], [major], [class], [phoneNumber], [状态]) VALUES (N'1002', N'黄小花', N'女', N'计算机学院', N'大数据', N'322', N'18511111111', N'在读')
INSERT [dbo].[t_Student] ([SID], [SName], [Sex], [Dept], [major], [class], [phoneNumber], [状态]) VALUES (N'1003', N'张三', N'男', N'计算机学院', N'大数据', N'321', N'19999999000', N'在读')
/****** Object:  Table [dbo].[t_Room]    Script Date: 09/05/2025 21:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Room](
	[BuildingNumber] [int] NOT NULL,
	[RoomNumber] [int] NOT NULL,
	[已入住人数] [int] NULL,
	[宿舍长学号] [varchar](12) NULL,
	[床数量] [int] NULL,
 CONSTRAINT [PK_t_Room] PRIMARY KEY CLUSTERED 
(
	[BuildingNumber] ASC,
	[RoomNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[t_Room] ([BuildingNumber], [RoomNumber], [已入住人数], [宿舍长学号], [床数量]) VALUES (1, 1, 4, N'1002', 4)
INSERT [dbo].[t_Room] ([BuildingNumber], [RoomNumber], [已入住人数], [宿舍长学号], [床数量]) VALUES (1, 2, 0, N'', 4)
INSERT [dbo].[t_Room] ([BuildingNumber], [RoomNumber], [已入住人数], [宿舍长学号], [床数量]) VALUES (1, 3, 0, NULL, 6)
/****** Object:  Table [dbo].[t_Building]    Script Date: 09/05/2025 21:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Building](
	[BuildingNumber] [int] NOT NULL,
	[宿舍楼位置] [varchar](50) NULL,
	[可用性] [varchar](50) NULL,
	[寝室房间数量] [int] NULL,
 CONSTRAINT [PK_t_Building] PRIMARY KEY CLUSTERED 
(
	[BuildingNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[t_Building] ([BuildingNumber], [宿舍楼位置], [可用性], [寝室房间数量]) VALUES (1, N'校园南侧', N'不可用', 150)
INSERT [dbo].[t_Building] ([BuildingNumber], [宿舍楼位置], [可用性], [寝室房间数量]) VALUES (2, N'校园南侧', N'可用', 100)
INSERT [dbo].[t_Building] ([BuildingNumber], [宿舍楼位置], [可用性], [寝室房间数量]) VALUES (3, N'校园南侧', N'可用', 150)
/****** Object:  Check [CK_t_管理员信息表1]    Script Date: 09/05/2025 21:56:41 ******/
ALTER TABLE [dbo].[t_管理员信息表]  WITH CHECK ADD  CONSTRAINT [CK_t_管理员信息表1] CHECK  (([sex]='男' OR [sex]='女'))
GO
ALTER TABLE [dbo].[t_管理员信息表] CHECK CONSTRAINT [CK_t_管理员信息表1]
GO
/****** Object:  Check [CK_t_Student]    Script Date: 09/05/2025 21:56:41 ******/
ALTER TABLE [dbo].[t_Student]  WITH CHECK ADD  CONSTRAINT [CK_t_Student] CHECK  (([sex]='男' OR [sex]='女'))
GO
ALTER TABLE [dbo].[t_Student] CHECK CONSTRAINT [CK_t_Student]
GO
